body {
background: #f6f8fc;
background-image: url('image/logo.png');
background-size: cover;
background-position: center;
  color: #222;
  font-family: "Poppins", "Segoe UI", Arial, sans-serif;
}

.login-container {
  min-height: 100vh;
}

.login-card {
  background: #fff;
  min-width: 350px;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(108, 99, 255, 0.08);
  border: none;
  padding: 2rem 1.5rem;
}

.login-logo {
  width: 60px;
  margin-bottom: 0.5rem;
}

.login-title {
  font-size: 2rem;
  font-weight: bold;
  color: #6c63ff;
  letter-spacing: 1px;
}

.login-header {
  color: #6c63ff;
  font-weight: bold;
}

.form-control {
  border-radius: 8px;
}

.btn-primary {
  background: #6c63ff;
  border-radius: 8px;
  border: none;
  font-weight: 500;
}

#loginError {
  text-align: center;
}

.login-link {
  color: #6c63ff;
  text-decoration: underline;
  font-weight: 500;
}
